.header{
  font-family: 'Roboto', sans-serif;
  height: 55px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid rgb(228, 225, 225);
}

.menu,
.yt-logo,
.search-button,
.mic-button,
.upload-container,
.yt-apps-container,
.notification-icon-container,
.user-dp{
  cursor: pointer;
}

.left-section{
  width: 200px;
  align-items: center;
  display: flex;
}

.menu{
  height: 24px;
  margin-right: 24px;
  margin-left: 24px;
}

.yt-logo{
  height: 20px;
}

.center-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 40px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar{
  height: 36px;
  flex: 1;
  font-size: 16px;
  padding-left: 10px;
  border-style: solid;
  margin-right: -1px;
  width: 0;
  border: 1px solid rgb(190, 188, 188);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder{
  color: rgb(175, 171, 171);;
}

.search-button{
  height: 39px;
  width: 66px;
  margin-left: 0px;
  background-color: rgb(249, 244, 244);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(175, 171, 171);
  margin-right: 8px;
}

.search-button,
.mic-button,
.upload-container,
.yt-apps-container,
.notification-icon-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button .tooltip,
.mic-button .tooltip,
.upload-container .tooltip,
.yt-apps-container .tooltip,
.notification-icon-container .tooltip{
  position: absolute;
  background-color: grey;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.mic-button:hover .tooltip,
.upload-container:hover .tooltip,
.yt-apps-container:hover .tooltip,
.notification-icon-container:hover .tooltip{
  opacity: 1;
}

.search-icon{
  height: 25px;
}

.mic-button{
  height: 39px;
  width: 40px;
  background-color: rgb(250, 248, 248);
  border-radius: 50%;
  border: none;
}

.mic-icon{
  height:22px;
}

.right-section{
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon{
  height: 24px;
}

.yt-apps-icon{
  height: 24px;
}

.notification-icon{
  height: 24px;
}

.notification-icon-container{
  position: relative;
}

.notification-count{
  position: absolute;
  background-color: red;
  color: white;
  right: -5px;
  top: -2px;
  font-size: 11px;
  border-radius: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.user-dp{
  height: 30px;
  border-radius: 50%;
}